@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: linear-gradient(to bottom, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 1)), url('../images/gym4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#where-1 {
  background-image: linear-gradient(to bottom, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 1)), url('../images/gym5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* box-shadow: 0 0 0px 8px rgba(28, 28, 28, 1) inset; */
}

#where-2 {
  background-image: linear-gradient(to bottom, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 1)), url('../images/outdoors3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* box-shadow: 0 0 0px 8px rgba(28, 28, 28, 1) inset; */
  filter: grayscale(1);
}

#where-3 {
  background-image: linear-gradient(to bottom, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 1)), url('../images/home1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0 0 8px 0px rgba(28, 28, 28, 1) inset; */
  filter: grayscale(1);
}

.package-box-white {
  box-shadow: 0 0 5px 2px #fff;
  @apply bg-white text-center py-8 px-4 lg:w-1/3;
}

.package-box-pink {
  box-shadow: 0 0 5px 2px #DB2763;
  @apply bg-pink text-center py-8 px-4 lg:w-1/3;
}

.review-img-col {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.review-img-row {
  width: 320px;
  height: auto;
  border-radius: 50%;
}


.rotate180 {
  transform : rotate(180deg);
}


/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: absolute;
  right: 16px;
  top: 16px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 4px;
  top: 0;
  left: 0;
  background: #DB2763;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
